.page-preguntas-frecuentes {
  .node--type-pagina-basica-bosque-no-image {
    .field--name-body {
      p {
        @include cita;
        font-size: 20px;
        line-height: 26px;
      }
    }
    
  }

  #main {
    padding-bottom: 25px;
  }
  .cita {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    padding-bottom: 50px;
  }
}

.view-repo-preguntas-frecuentes {
  overflow: hidden;

  .view-header {
    @include interna-nodo-titulo;
    font-size: 34px;
    margin-bottom: 40px;
  }

  .views-field-title {
    border-bottom: 1px solid $color_gray_50;
    color: $color_gray_80;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 14px 0;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      left: -100%;
      top: 100%;
      height: 1px;
      width: 100%;
      background: $color_brand;
      transition: 1.5s ease-out all;
    }
  }

  .views-field-field-respuesta-de-pregunta {
    font-size: 15px;
    line-height: 24px;
    border-bottom: 1px solid $color_gray_20;
    border-right: 1px solid $color_gray_20;
    display: none;
    margin-right: 45px;
    padding: 20px 30px 20px 0;

    p {
      margin-bottom: 0;

      a {
        color: $color_gray_60;
        border-bottom: 1px solid $color_brand;
        text-decoration: none;
      }
    }

    ul {
      margin-top: 20px;
      li {
        margin-bottom: 3px;

        &:before {
          background: $color_gray_80;
          border-radius: 50%;
          content: '';
          height: 5px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 12px;
          width: 5px;
        }
      }
    }
  }

  .desplegable-open {
    .views-field-title {
      color: $color_brand;

      &:after {
        left: 0;
      }
    }
  }
}
