html body.toolbar-horizontal {
	.region-header-educon{
	    + .wrap-content {
	        padding-top: 20px !important;
	    }
    }
    &.toolbar-tray-open {
		.region-header-educon{
		    + .wrap-content {
		        padding-top: 20px !important;
		    }
	    }
    	
    }
}
html body.page-node-type-page {
	.region-header-educon{
	    + .wrap-content {
	        padding-top: 20px !important;
		    h1{
		    	margin-top: 15px;
		      	font-family: $font-bl;
				font-size: $font-brandb-l;
				border-bottom:1px solid $color_gray_20;
				padding-bottom: 10px;
		    	margin-bottom: 30px;
			}
			h3{
			    font-size: $font-bl-m;
				//font-family: $font-bl;
				font-family:$font-bsb !important;
				margin-top: 1rem 0;
			}
	    }
    }
}
.region-header-educon{
	min-height:100px;
	background:#2C3E50;
	@media only screen and (max-width: $tablet) {
        min-height:inherit;
    }
	.header_educon{
		padding: 30px 0;
		@media only screen and (max-width: $mobile) {
			padding: 20px 0 !important;
		}
		.logo-educont{
			@include inline-block(top);
			@include grid-porcentaje(4);
			float: left;
			@media only screen and (max-width: $mobile) {
				@include grid-porcentaje(12) ;
				margin-left: 15px;
				padding:0 0 0 15px !important;
				margin-top: inherit !important;
			}
			@media only screen and (max-width: $tablet){
				//width: 40%;
			    padding: 0;
			    margin-top: -15px;
			}
		}
		.block-superfishmenu-educacion-continuada{
			@include inline-block(top);
			@include grid-porcentaje(8);
			float: left;

			ul{
				li[id*="menu-educacion-continuada-menu-link-"]{
					margin: 1em 1em;
					z-index: 2;
					@media only screen and (max-width: $tablet){
						//width: 40%;
					    margin: 0 0 0 10px;
					    //margin-top: -15px;
					}
					&.active-trail{
						&::before {
							@include default-green-hover-bar;
							content: "";
							position: absolute;
							bottom: -10px;
							left: 0;
						}
					}
					a,  span {				
						color:white !important;
						font-family: $font-bli !important;
						@include item-menu;
						display: block;
						text-decoration: none;
						transition: .3s ease-out all;
						padding:0;
						&:hover:before {
							@include default-green-hover-bar;
							content: "";
							position: absolute;
							bottom: -10px;
							left: 0;
						}
						
					}
					span:after {
						position:relative;
						@media only screen and (min-width: $tablet) {
							content: url("../images/ArrowGreenDown.svg");
							position: absolute;
							top: 0;
							right: -16px;
						}
					}
					span{
						+ ul{
							background:$color_gray_10;
							box-shadow:none;
							li{
								a{
									@include underline-hover;
									display: inline;
									padding: 0 !important;
									//padding: 5px 0 4px !important;
									font-family: $font-baser;
									font-size: 14px;
									border: 0;
									color:$color_brand_dark_20 !important;
									&:hover:before {
										content: "";
										background:transparent;
										position: absolute;
										bottom: -10px;
										left: 0;
									}
								}
								&.active-trail{
									a{
										color: $color_brand;										
									}
									&:before{
										background:transparent;
									}
								}
								
							}
						}
					}
				}

			}
			.sf-accordion-toggle{

				//width: 40px;
		        //height: 25px;
		        position: absolute;
		        top: 24px;
    			left: 8px;
		        overflow: hidden;
		        margin: 0 0 0 5px;
		        transform: rotate(0deg);
		        transition: .5s ease-in-out;
		        cursor: pointer;
		        width: 28px;
		        height: 28px;
		        z-index: 50;
		        @media only screen and (min-width: $tablet) {
		            display: none;
		        }
		        span {
		            display: block;
		            position: absolute;
		            width: 28px;
		            height: 3px;
		            background: #fff;
		            border-radius: 0;
		            opacity: 1;
		            left: 0;
		            transform: rotate(0deg);
		            transition: .25s ease-in-out;
		            text-indent: -1000px;
		            &:nth-child(1) {
		                top: 2px;
		            }
		            &:before{
		            	content: '';
		            	position:absolute;
		            	width: 28px;
			            height: 3px;
			            background: #fff;
			            border-radius: 0;
			            opacity: 1;
			            left: 0;
			            transform: rotate(0deg);
		                top: 9px;
		            }
		            &:after {
		            	content: '';
		            	position:absolute;
		            	width: 28px;
			            height: 3px;
			            background: #fff;
			            border-radius: 0;
			            opacity: 1;
			            left: 0;
			            transform: rotate(0deg);
		                top: 16px;
		            }
		        }

			}
		}
	}
	@media only screen and (max-width: $mobile) {
					min-height: 70px;
				}

	#superfish-menu-educacion-continuada-accordion{
		position:absolute;
		left: 0 !important;
		background:$color_gray_10;
		@media only screen and (max-width: $tablet){
		    margin-top: -15px;
		}

		li{
			border-bottom: 1px solid #dadada !important;
    		padding: 15px 20px !important;
    		margin: 0;
			a{
				font-family:$font-bsb !important;
				font-size: 14px;
				border: 0;
				color:$color_brand_dark_20 !important;

			}
			span{
				font-family:$font-bsb;
				font-size: 14px;
				border: 0;
				color:$color_brand_dark_20 !important;

			}
			.sf-depth-1.menuparent	+ ul.sf-hidden{
				position:relative !important;
				height: inherit !important;
				width: inherit !important;
				top:0;

			}
			.sf-depth-1.menuparent	+ ul.sf-hidden li{
				border-color: transparent !important;
			}
			&.active-trail{
				a{
					color: $color_brand;										
				}
				&:before{
					background:transparent;
				}
			}

		}
	}
}
.region-header-educon + .wrap-content  .layout-content--post-content{
		padding:50px 0;
	}
@media only screen and (max-width: $mobile){
	.region-header-educon .header_educon .block-superfishmenu-educacion-continuada ul li[id*="menu-educacion-continuada-menu-link-"]:last-child{
		display: block !important;
	}
}
@media only screen and (max-width: $tablet) {
	.node-1112, .node-1137, .node-1134, .node-1135, .node-1143, .node-1144, .node-1145, .node-1138, .node-1139, .node-1141, .page-node-type-diplomado, .page-node-type-curso-corto, .page-node-type-evento-profesional{
		.container--header-info{
	  		display:none;
	  	}
	}
	.region-header-educon .header_educon .block-superfishmenu-educacion-continuada  ul#superfish-menu-educacion-continuada > li[id*="menu-educacion-continuada-menu-link-"]:last-child{
		display: none;
	}
}

