.right-column-present{
	.region-content-educon{
		@include inline-block(top);
		@include grid-porcentaje(8);
		float: left;
		position:relative;
		+ .region-content{
			display: none !important;
		}
		@media only screen and (max-width: $mobile) {
            width: 100% !important;
        }
	}
	#main > .content.region-content{
		@include inline-block(top);
		@include grid-porcentaje(8);
		float: left;
		@media only screen and (max-width: $mobile) {
            width: 100% !important;
        }
	}
	.region-right-column{

		@include inline-block(top);
		@include grid-porcentaje(4);
		box-sizing: initial;
		width: 31%;
		@media only screen and (max-width: $mobile) {
            width: 100% !important;
        }
        @media only screen and (max-width: $tablet) {
            width: 30%;
        }
	}
}


div[class*="block-views-blockeducacion-continuada-bloque-para-repositorio-block"]{
	h2{
		margin-top: 15px;
		font-family: $font-bl;
		font-size: $font-brandb-l;
		border-bottom:1px solid $color_gray_20;
		padding-bottom: 10px;
    	margin-bottom: 30px;
	}
	.views-row{
        width: 45%;
        margin-right: 15px;
        margin-left: 15px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 30px;
         @media only screen and (max-width: $mobile) {
            width: 100% !important;
            margin-left: 0;
        }
         @media only screen and (max-width: $tablet) {
            width: 40%;
        }
    }
}